<%- include("partials/header") %>

<div class="container ">
		<div class="row rowA">
			<div class="col-lg-6 col-sm-12">
				<div class="thumbnail">
					<img src="/pink_background.png" width="600" height="500">
					<div class="row overlay">
						<div class="col-sm-9 about">
                    		<h1 class="about">WHO ARE WE?</h1>
							<hr class="about"style="border: 5px solid #1f242b;" />
							<p class="about">
								We are a non-profit organization fighting to 
								end all forms of abuse against women. We aim to
								break down barriers, end discrimination, and disprove stereotypes.
							</p> 
                		</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="thumbnail">
					<img src="/women_talking.jpg" width="600" height="500">
				</div>
			</div>	
		</div>
</div>

<%- include("partials/footer") %>