<%- include("partials/header") %>
<div id="textContact" >
	<div class="container ">
		<div class="row rowB">
			<div class="col-lg-6 col-sm-12">
				<div class="thumbnailC">
					<img src="/hanging_out.jpg" width="600" height="500">
					
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="thumbnailC">
					<img src="white_background.jpeg" width="600" height="500">
					<div class="contact">
						<div class="col-sm-9 contact">
                    		<h1 class="contact">CONTACT DETAILS</h1>
							<hr class="contact"style="border: 5px solid rgb(228,83,124);" />
							<h4 >
								Mailing Address
							</h4>
							<p class="contact">
								123 Anywhere St. Any City, State, Country 12345
							</p>
							<h4>
								Email Address
							</h4>
							<p class="contact">
								hello@reallygreatsite.com
							</p>
							<h4>
								Phone Number
							</h4>
							<p class="contact">
								(123)456 7890
							</p>
							
                		</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
<%- include("partials/footer") %>