<%- include("partials/header") %>
<div id="text" >
<div class="row justify-content-md-center home2">
		<div class="col-lg-4 col-sm-6">
				<img src="/doing_yoga.jpg" width="400" height="300">
		</div>
		<div class="col-lg-4 col-sm-6 ">
				<img src="/home_hanging_out.jpg" width="400" height="300">
		</div>
		<div class="col-lg-4 col-sm-6">
				<img src="/being_silly.jpg" width="400" height="300">
		</div>
	</div>

	<div class="container home">
	<h1 class="home">
		FEMALES WHO FIGHT
	</h1>
	<hr class="home"style="border: 5px solid #1f242b;" /> 
	<p class="home">
		UPHOLDING WOMEN'S RIGHTS SINCE 1990
	</p>
	</div>
</div>
<%- include("partials/footer") %>