<%- include("partials/header") %>
<div class="container testimonials">
	<h1 class="testimonials">
		TESTIMONIALS
	</h1>
	<hr class="testimonials"style="border: 5px solid rgb(228,83,124);" />
</div>

<div class="contentWrapper">
	<div class="content">
		<div class="Wrapper1">
			<div class="img">
				<img  class="testimonials" src="/women_laughing.png" width="200" height="200">
			</div>
				<p class="head">Women Who Can Group</p>
				<p class="text">Testimonials are short quotes from people who love your brand. 
					It's a great way to convince customers to try your services.</p>	
		</div>
		<div class="Wrapper2">
			<div class="img">
				<img class="testimonials" src="/woman_window.jpg" width="200" height="200">
			</div>
				<p class="head">Katarina Willford </p>
				<p class="text">Testimonials are short quotes from people who love your brand. 
				It's a great way to convince customers to try your services.</p>
		</div>
		<div class="Wrapper3">
			<div class="img">
				<img  class="testimonials" src="/woman_flowers.jpg" width="200" height="200">
			</div>
				<p class="head">Elizabeth Hollows </p>
				<p class="text">Testimonials are short quotes from people who love your brand. 
				It's a great way to convince customers to try your services.</p>
		</div>
	</div>
</div>
<%- include("partials/footer") %>